<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vista 1</title>
    </head>
    <body>

        <h1>SFT GAMES: El escape de los patitos de hule</h1>

        <form method="post" action="/imagenes">

            <label>Número de filas:</label>
            <input type="text" name="numerofilas"/><br/>
            <label>Número de columnas:</label>
            <input type="text" name="numerocolumnas"/><br/>
            <label>Posiciones Iniciales:</label>
            <input type="text" name="posicionesIniciales"/><br/>
            <label>Número de fotos tomadas:</label>
            <input type="text" name="numerofotos"/><br/>
            <input type="submit" value="EJECUTAR">
        </form>


    </body>
</html>